* {
    color: black;
    font-size: 22px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #f4f5f7;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  z-index: 1001;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #6b778c;
}

.modal-close-btn:hover {
  color: #172b4d;
}

.modal-body {
  display: flex;
  gap: 20px;
}

.task-details {
  flex: 2;
}

.task-detail{
  display: flex;
  margin: 5px;
  justify-content: space-around;
  vertical-align: center;
}

.task-detail > *{
  margin: 5px;
  vertical-align: center;
  align-content: left;
}

.task-comments {
  flex: 1;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
}

.inline-editable-text {
  cursor: text;
  min-height: 24px; /* Щоб було куди клікнути, якщо пусто */
  padding: 5px; /* Імітація полів вводу */
  border-radius: 3px;
}
.inline-editable-text:hover {
  background-color: #eee;
}

/* Переконайтесь, що стилі для .modal-title-input та textarea це підтримують */
.modal-title-input.inline-editable-text {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 5px; /* Відступи для заголовка */
}

/* Стиль для textarea */
textarea.inline-editable-text {
  min-height: 100px;
}